<p>login works!</p>
<div id="div-container">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="email">Email:</label>
  <input
    id="email"
    type="email"
    formControlName="email"
    [class.invalid]="email.invalid && (email.dirty || email.touched)"
  />
  <div class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
    <small *ngIf="email.errors?.['required']">El email es obligatorio.</small>
    <small *ngIf="email.errors?.['email']">El formato del email no es válido.</small>
  </div>

  <label for="password">Password:</label>
  <input
    id="password"
    type="password"
    formControlName="password"
    [class.invalid]="password.invalid && (password.dirty || password.touched)"
  />
  <div class="error" *ngIf="password.invalid && (password.dirty || password.touched)">
    <small *ngIf="password.errors?.['required']">La contraseña es obligatoria.</small>
  </div>

  <input type="submit" value="Log In" [disabled]="!profileForm.valid" />
</form>

</div>